.login {
  min-height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;

  background: #020617;
}

/* card */

.card {
  background: #0f172a;
  border: 1px solid #1e293b;

  padding: 3rem;
  border-radius: 16px;

  width: 420px;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* title */

.title {
  text-align: center;
  font-size: 2.8rem;
  color: #f8fafc;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: #94a3b8;
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

label {
  font-size: 1.85rem;
  color: #cbd5f5;
}

/* inputs */

input {
  background: #5f6478;
  border: 1px solid #1e293b;

  padding: 0.7rem 0.9rem;
  border-radius: 8px;

  color: #000000;
  font-size: 1.9rem;
}

input:focus {
  outline: none;
  border-color: #0ea5e9;
}

/* button */

.btn {
  margin-top: 0.5rem;

  background: #0ea5e9;
  border: none;

  padding: 0.8rem;
  border-radius: 999px;
  font-size: 1.9rem;
  color: #020617;
  font-weight: 600;

  cursor: pointer;
  transition: 0.25s;
}

.btn:hover {
  background: #38bdf8;
  transform: translateY(-2px);
}

/* signup link */

.signupText {
  text-align: center;
  font-size: 1.2rem;
  color: #94a3b8;
}

.signupText a {
  color: #0ea5e9;
  text-decoration: none;
  font-weight: 600;
}

.signupText a:hover {
  text-decoration: underline;
}
