.item {
  background-color: #0f172a;

  padding: 1.2rem;
  border-radius: 1rem;
  border: 1px solid #1e293b;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.02);
}

.checkbox {
  width: 1.8rem;
  height: 1.8rem;
  accent-color: #0ea5e9;
}

/* text area  */

.text {
  flex: 1;
  font-size: 1.5rem;
  color: #e2e8f0;

  word-break: break-word;
  overflow-wrap: anywhere;
}

.deleteBtn {
  background: none;
  border: none;

  font-size: 1.6rem;
  color: #ef4444;
  cursor: pointer;
  flex-shrink: 0;
}

.deleteBtn:hover {
  color: #f87171;
}
